<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form action="/hello" method="post">
        <div class="form-group">
            <label for="id_username">Account</label>
            <input type="text" class="form-control" name="username" id="id_username" placeholder="Maui" {% if username
                   %}value="{{ username }}" {% endif %} autofocus required readonly="readonly">
        </div>
        <div class="form-group">
            <label for="id_balance">Balance</label>
            <input type="text" class="form-control" name="balance" id="id_balance" placeholder="1000000" {% if balance
                   %}value="{{ balance }}" {% endif %} autofocus required readonly="readonly">
        </div>
        <form method="post" action="/hello">
            <div class="form-group">
            <select name="operation">
                <option value="deposit">Deposit</option>
                <option value="withdrawal">Withdrawal</option>
            </select>
            </div>
            <div class="form-group">
            <label for="id_amount">Amount</label>
            <input type="text" class="form-control" name="amount" id="id_amount" placeholder="Input amount" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-left">submit</button>
            </div>
        </form>
    </form>
</head>
<body>

</body>
</html>