<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maui Bank</title>
    <form action="/hello" method="post">
        <div class="form-group">
            <label for="id_username">Account</label>
            <input type="text" class="form-control" name="username" id="id_username" placeholder="Your username here" {% if username
                   %}value="{{ username }}" {% endif %} autofocus required readonly="readonly">
        </div>
        <div class="form-group">
            <label for="id_balance">Balance</label>
            <input type="text" class="form-control" name="balance" id="id_balance" placeholder="Your balance here" {% if balance
                   %}value="{{ balance }}" {% endif %} autofocus required readonly="readonly">
        </div>
        <form method="post" action="/hello">
            <div class="form-group">
            <select name="operation">
                <option value="deposit">Deposit</option>
                <option value="withdrawal">Withdrawal</option>
            </select>
            </div>
            <div class="form-group">
            <label for="id_amount">Amount</label>
            <input type="text" class="form-control" name="amount" id="id_amount" placeholder="Input amount" required>
            </div>
            <div class="form-group">
                <button type="submit" onclick="IsFormChanged()" class="btn btn-primary pull-left">submit</button>
            </div>
        </form>
    </form>

    {% if error %}
        <p>{{error}}</p>
    {% endif %}
</head>
<body>

</body>
</html>

<!--use codes from https://blog.csdn.net/wuhen8/article/details/7056390-->
<script type="text/javascript">
    function IsFormChanged(){
        var isChanged = false;
        var form = document.forms[0];
        for(var i = 0; i < form.elements.length; i++){
            var type = form.elements[i].type;
            if(type == "select-one"){
                for (var j = 0; j < element.options.length; j++) {
                    if (element.options[j].selected != element.options[j].defaultSelected) {
                        isChanged = true;
                        break;
                    }
                }
            }
        }
        alert(isChanged?"You have changed the form.":"Submit successfully");
        return isChanged;
    }
</script>
