<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
    <form method="post" action="/register">
        <label>username: <input type="text" name="username" value=""></label><br>
        <label>password: <input type="password" name="password1" value=""></label><br>
        <label>password again: <input type="password" name="password2" value=""></label><br>
        <label>initial balance: <input type="number" name="input_balance"></label><br>
        <input type="submit" value="register">
    </form>

    {% if error %}
        <p>{{error}}</p>
    {% endif %}
</body>
</html>